/New Folder/controle-de-candidatos/nbproject/private/
/New Folder/controle-de-candidatos/build/
/New Folder/controle-de-candidatos/dist/
/New Folder/telefone-iphone/nbproject/private/
/New Folder/telefone-iphone/build/
/New Folder/desafio-de-branco/nbproject/private/
/New Folder/desafio-de-branco/build/
/New Folder/desafio-de-branco/dist/
/New Folder/sobre-no/nbproject/private/
/New Folder/sobre-no/build/
/New Folder/aula-sobre-no/nbproject/private/
/New Folder/aula-sobre-no/build/
/New Folder/aula-sobre-no2/nbproject/private/
/New Folder/aula-sobre-no2/build/
/New Folder/lista-encadeada/nbproject/private/
/New Folder/lista-encadeada/build/
/New Folder/lista-encadeada/dist/
/New Folder/lista-duplamente-encadeada/nbproject/private/
/New Folder/lista-circulares/nbproject/private/
/New Folder/lista-circulares/build/
/New Folder/arvore-binaria/nbproject/private/
/New Folder/exemplo-list/nbproject/private/
/New Folder/exemplo-list/build/
/New Folder/exemplo-listdio/nbproject/private/
/New Folder/exemplo-listdio/build/
/New Folder/exemplo-ordenacaolist/nbproject/private/
/New Folder/exemplo-ordenacaolist/build/
/New Folder/exemplo-ordenacaolist/dist/
/New Folder/set-ex/nbproject/private/
/New Folder/set-ex/build/
/New Folder/set-ex/dist/
/New Folder/exemplo-listdio/dist/
